# some common aliases & functions

alias ls='lsd -ahl'
alias lsd='lsd -ahl'
alias psg='ps -Ao pid,command | grep'
alias psgi='ps -Ao pid,command | grep -i'
alias cdgr='cd "$(git rev-parse --show-toplevel)"'
alias vivaldi='/Applications/Vivaldi.app/Contents/MacOS/Vivaldi'
alias dotfiles='/opt/homebrew/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
alias cpdirname="pwd | rev | cut -d/ -f1 | rev | tr -d '\n' | pbcopy"
alias cat=bat
alias vim=nvim

export CODE=~/Code

function backup 
  command cp $argv{,.bak}
end
 
function mkcd 
  command mkdir $argv && cd $argv
end
 
