# some common aliases & functions

alias ls='lsd -ahl --icons'
alias lsd='lsd -aDhl --icons'
alias psg='ps -Ao pid,command | grep'
alias psgi='ps -Ao pid,command | grep -i'
alias cdgr='cd "$(git rev-parse --show-toplevel)"'
alias vivaldi='/Applications/Vivaldi.app/Contents/MacOS/Vivaldi'
alias dotfiles='/opt/homebrew/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
alias cpdirname="pwd | rev | cut -d/ -f1 | rev | tr -d '\n' | pbcopy"

export CODE=~/Code

function backup {
  command cp $1{,.bak}
}

function mkcd {
  command mkdir $1 && cd $1
}

