/*
  https://forum.vivaldi.net/post/780768
*/

:root{
  --tabbar-size: 36px;
  --tab-transition-fn: cubic-bezier(0.78, 0, 0.22, 1);
}

/* tabbar workspace */
.inner > .tabbar-wrapper:not(:hover) .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu{
  width: var(--tabbar-size)!important;
  transition: unset;
  padding: calc(var(--densityGap) * 2);
}

.inner > .tabbar-wrapper:not(:hover) .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-title,
.inner > .tabbar-wrapper:not(:hover) .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-toolbar-menu-indicator {
  display: none;
}

.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-icon {
  position: absolute;
  left: 4px;
}

.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-title {
  position: absolute;
  left: var(--tabbar-size);
}

.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-toolbar-menu-indicator {
  position: absolute;
  right: 5px;
}

/* tabbar container */
.inner > .tabbar-wrapper:not(:hover) #tabs-tabbar-container,
.inner > .tabbar-wrapper:not(:hover) #tabs-tabbar-container .resize {
  width: var(--tabbar-size)!important;
  transition: unset;
}

/* tab stacking - accordion toggle arrow position */
#tabs-container.left .tab-position.accordion-toggle-arrow {
  --PositionX: 4px!important;
  margin-left: -1px;
}

.inner > .tabbar-wrapper {
  position: relative;
  width: var(--tabbar-size);
}

.inner > .tabbar-wrapper > .tabbar-wrapper {
  position: absolute;
  background-image: url("chrome://vivaldi-data/thumbnail/WVKXPHMBICN2BPZCJFRT6B4RYYRCN6JS.png");
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.inner #tabs-tabbar-container,
.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu {
  transition: width 0.5s var(--tab-transition-fn);
  padding-block: calc(var(--densityGap)*2);
}

#app .tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button button {
  padding: 0;
}

#browser.mac.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
  min-height: calc(51px / var(--uiZoomLevel));
}

#browser.color-behind-tabs-on .tab.active.active {
  background-color: var(--colorHighlightBg);
  color: var(--colorHighlightFg);
}
